<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <property resource="application.yml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <charset>UTF-8</charset>
        <encoder class="uk.gov.dwp.logging.logback.JsonEncoder">
            <appName>${app_name}</appName>
            <appVersion>${app_version}</appVersion>
        </encoder>
    </appender>

    <logger name="uk.gov" level="${LOG_LEVEL_UK_GOV:-INFO}" />

    <root level="${LOG_LEVEL_MAIN:-INFO}">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
